<h1>lista de posts: </h1>
{{#each posts}}
<small>{{dataValues.createdAt}}</small>
<h1>{{dataValues.titulo}}</h1>
<h2>{{dataValues.conteudo}}</h2>
<a href="/delete/{{dataValues.id}}"><button>Apagar</button></a>
<hr>
{{/each}}